body {
  margin: 0;
}

nav {
    background: #315243;
    height: 60px;
    width: 100%;
    position: fixed;
    top:0px;

}
nav ul {
    height: 100%;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}
nav ul li a:hover {
    background-color: #2b4238;
    border-radius: 10px;
}

.product{
display: flex;
gap: 60px;
align-items: stretch;
margin-top: 60px;
}

.about{
width: 800px;
flex: 1;
border: 2px solid black;

padding: 40px;
}

.about-text{

}

.main-picture{
width: 650px;
object-fit: cover;
display: block;
}

.main-pic{
width: 100%;
height: auto;
display: block;

}
