p{
    font-family: Montserrat;
    }

    .E-sound{
    font-style: Montserrat;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: 50px;
    }

    .test-string {
    font-family: Colosseur;
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    color: rgb(106,106,96);
    margin-top: 10px;
  }

    .test-HTML {
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    background-color: rgb(255, 216, 20);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    border-radius: 100px;
    }

    .Entities {
    color: black;
    cursor: pointer;
    }

    .Entities:hover {
    color: red;
    text-decoration: underline;
    }

    .inputs {
    display: flex;
      flex-direction: column;
      gap: 10px; /* відстань між елементами */
      width: 300px;
      padding: 10px;
      border: 5px solid #ccc;
      border-radius: 4px;
    }

    .sample-text {
    display: block;
    width: 280px;
    }

    .outside-div{
    width: 300px;
    color: black;
    padding: 10px;
    border: 5px solid #ccc;
    border-radius: 1px;
    }

    .inside-div{
    color: blue;
    border: 1px solid #ccc;
    border-radius: 1px;
    padding: 8px;
    }

   .middle-div{
   color: red;
    border: 1px solid #ccc;
    border-radius: 1px
    padding: 3px;

   }
   .span-example{
   color: green;
   }

   .video-div{
   width: 250px;
   display: inline-block;
   vertical-align: top;
   margin-right: 15px;
   }

   .tweet-header {
       display: flex;
       align-items: center;
       gap: 10px;
       margin-bottom: 10px;
   }

   .avatar {
   display: flex;
       width: 50px;
       height: 50px;
       border-radius: 50%;
       object-fit: cover;
   }
   .tweet-image{
   display: inline-block;
   width:600px;
   }

   .tweet{
   display: inline-block;
   width: 600px;
   }




   .зовнішній {
         background: lightblue;
         border: 5px solid navy;
         padding: 30px;
         margin: 20px;
       }
       .внутрішній {
         background: pink;
         border: 5px solid red;
         height: 200px;
       }



       .level1 {
             background: #ffcccc;
             border: 10px solid red;
             padding: 40px;
             margin: 30px;
           }
           .level2 {
             background: #ccffcc;
             border: 10px solid green;
             padding: 40px;
           }
           .level3 {
             background: #ccccff;
             border: 10px solid blue;
             padding: 40px;
             min-height: 200px;
           }

           .level4 {
                        background: #ffcccc;
                        border: 10px solid red;
                        padding: 40px;
                        margin: 30px;
                      }
                      .level5 {
                        background: #ccffcc;
                        border: 10px solid green;
                        padding: 40px;
                      }
                      .level6 {
                        background: #ccccff;
                        border: 10px solid blue;
                        padding: 40px;
                        min-height: 200px;

                      }
                     .level7 {
                       height: 10vh;
                       background: #d5f5e3;
                       border: 5px solid #10c353;
                       padding: 1px;
                       display: flex;
                       justify-content: left;
                       align-items: left;
                     }

                .level8 {
                  width: 10px;
                  background: #ccffcc;
                  border: 2px solid black;
                  display: flex;
                  flex-direction: column;
                  gap: 1px;
                  align-self: left;
                }
                .level9{
                display: block;
                width: 100%;
                             background: #ccccff;  /* світло-синій */
                             border: 4px solid blue;
                             padding: 2px;
                             min-height: 10px;
                }