p{
    font-family: Montserrat;
    }

    .E-sound{
    font-style: Montserrat;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: 50px;
    }

    .test-string {
    font-family: Colosseur;
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    color: rgb(106,106,96);
    margin-top: 10px;
  }

    .test-HTML {
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    background-color: rgb(255, 216, 20);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    border-radius: 100px;
    }

    .Entities {
    color: black;
    cursor: pointer;
    }

    .Entities:hover {
    color: red;
    text-decoration: underline;
    }

    .inputs {
    display: flex;
      flex-direction: column;
      gap: 10px; /* відстань між елементами */
      width: 300px;
      padding: 10px;
      border: 5px solid #ccc;
      border-radius: 4px;
    }
